@model Florist.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
   Layout = "_Layout";
}

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div>
        <label>Ad:</label>
        <input asp-for="Ad" class="form-control" required />
    </div>

    <div>
        <label>Email:</label>
        <input asp-for="Email" type="email" class="form-control" required />
    </div>

    <div>
        <label>Şifre:</label>
        <input asp-for="Sifre" type="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

