@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}

<h1>Hoşgeldiniz</h1>
<p>Web sistemimize hoş geldiniz.</p>
<a href="/Home/hakkimizda">Hakkımızda</a> |
<a href="/Home/Contact">İletişim</a> |
<a href="/Account/Login">Giriş</a> |
<a href="/Account/Register">Kayıt Ol</a> |
<a href="/Home/occasion">Fırsatlar</a> |
<a href="/Home/products">Ürünlerimiz</a>